<!-- <nav class="breadcrumb">
<a class="breadcrumb-item" href="home">Home /</a>
</nav> -->

<div class="wrapper">
  <div class="ccparallaxeff">

    <div class="plax ccparallax ccparallax-one">
      <div class="container">
        <h1><a href="seasons">Search The Seasons</a></h1>
      </div>
    </div>

    <div class="plax content">
      <div class="container">
        <div class="headlines">
          <!-- <h2>Responisve Design</h2>
          <p>Work on all major devices</p> -->
        </div>
        <div class="contentarea">
        </div>
      </div>
    </div>

    <div class="plax ccparallax ccparallax-two">
      <div class="container">
        <h1><a href="queens">Meet The Queens</a></h1>
      </div>
    </div>

    <div class="plax content">
      <div class="container">
        <div class="headlines">
        </div>
      </div>
    </div>
    <div class="plax ccparallax ccparallax-three">
      <div class="container">
        <h1><a href="giphy">Drag Giphys</a></h1>
      </div>
    </div>

    <div class="plax content">
      <div class="container">
        <div class="headlines">
          <!-- <h2>The End</h2>
          <p>Thanks for visting</p> -->
        </div>
      </div>
    </div>
    <div class="crt-parallaxvideo">
      <video autoplay muted loop>
        <source src="http://tjshaw.co.uk/video/dragrace.mp4" type="video/mp4">
        </video>
        <h1><a href="videos">Drag Vids</a></h1>
      </div>

      <div class="plax content">
        <div class="container">
          <div class="headlines">
            <!-- <h2>The End</h2>
            <p>Thanks for visting</p> -->
          </div>
        </div>
      </div>

      <div class="plax ccparallax ccparallax-four">
        <div class="container">
          <h1><a href="quotes">Drag Quotes</a></h1>
        </div>
      </div>
    </div>
  </div>
