<nav class="breadcrumb">
  <a class="breadcrumb-item" href="home">Home /</a>
  <a class="breadcrumb-item" href="seasons">Seasons /</a>
  <a class="breadcrumb-item" href="#">{{ queensShow.season.title }}</a>
</nav>

<div class="queenShowIndex">
<img class="queenShowIndexImg" ng-src="{{queensShow.queen.image}}">
</div>

<div class="queenShowIndexInfo">
  <ul>
    <li><h4 class="queensShowIndexInfo">Position:</h4><p>{{queensShow.queen.position}}</p></li>
    <li><h4 class="queensShowIndexInfo">Drag Name:</h4><p>{{queensShow.queen.drag_name}}</p></li>
    <li><h4 class="queensShowIndexInfo">Also Know As:</h4><p>{{queensShow.queen.first_name}} {{queensShow.queen.last_name}}</p></li>
    <li><h4 class="queensShowIndexInfo">Website:</h4><p>a{{queensShow.queen.website}}</p></li>
    <li><h4 class="queensShowIndexInfo">Instagram:</h4><p>{{queensShow.queen.instagram}}</apli>
    <li><h4 class="queensShowIndexInfo">Twitter:</h4><p>{{queensShow.queen.twitter}}</p></li>
    <br>
  </ul>
</div>
<div class="queenShowIndexBio">
<li><h4 class="queensShowIndexBio">Bio:</h4><p>{{queensShow.queen.bio}}</p></li>
</div>

<h2 class="commentsTitle">Comments</h2>
<ul class="userComments">
  <li ng-repeat="comment in queensShow.queen.comments"> {{ comment.user_id.user_name }}
    <p>"{{ comment.body }}"</p>
  </li>
</ul>
<br>
<br>
<br>
<br>
<div class="commentContainer">
<form name="queensShow.commentForm" ng-submit="queensShow.createComment()">
  <label for="body"></label>
  <textarea class="commentArea" name="body" rows="5" cols="80" ng-model="queensShow.comment.body"></textarea>
  <br>
  <input class="commentButton" type="submit" name="" value="Add Comment">
</form>
</div>
