<nav class="breadcrumb">
  <a class="breadcrumb-item" href="home">Home /</a>
  <a class="breadcrumb-item" href="seasons">Seasons /</a>
  <a class="breadcrumb-item" href="#">{{ queensShow.season.title }}</a>
</nav>

<h1>{{ seasonsShow.season.title }}</h1>

<ul>
  <li><p>{{ seasonsShow.season.description}}</p></li>
  <h2 class="seasonShowQueenTitle">Queens</h2>
  <div class="seasonShowQueens">
    <li ng-repeat="queen in seasonsShow.season.queens track by $index">
      <img class="queenShowImg" ng-src="{{queen.image}}"<a ui-sref="queensShow({ id: queen.id })"></a>
    </li>
  </div>
</ul>
