.commentButton {
  width: 50%;
  background-color: #ff3fd2;
  border: 0;
  border-radius: 20px;
  color: white;
  height: 30px;
  font-family: 'Aviddyn';
  font-size: 20px;
}

.commentArea {
  border: 1px solid  #ff3fd2;
}

.userComments {
  border: 1px solid #ff3fd2;
  border-radius: 20px;
  padding: 30px;
  margin-right: 550px;

}
