video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.overlayVid {
  background-color: rgba(255, 63, 210, 0.3);
  width: 155%;
  height: 800px;
  margin-left: -256px;
}

.signUpLanding {
  text-align: center;
  margin-top: -450px;
  font-size: 50px;
  font-family: 'Aviddyn';
}

.regIndex, .loginIndex {
  border: 2px solid white;
  padding: 10px
}
