.container {
  max-width: 959px;
  margin: 0 auto;
}

.crt-parallaxvideo{
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 120px;

}
.crt-parallaxvideo video{
  // min-width: 100%;
  // position: fixed;
  // top:0;
  // z-index: -100;
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.crt-parallaxvideo h1 {
  color: white;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 63, 210, 0.9);
  padding: 10px;
  padding-top: 20px;
  border-radius: 50px;
}

.plax.ccparallax-one {
  background-image: url("../images/index-page-season-img.jpg");
  width: 1440px;
  margin-left: -255px;
}
.plax.ccparallax-two {
  background-image: url("../images/searchTheQueens.png");
  margin-left: -255px;
  width: 1440px;
}
.plax.ccparallax-three {
  background-image: url("../images/index-page-season-img.jpg");
  margin-left: -255px;
  width: 1440px;
}

.plax.ccparallax-four {
  background-image: url("../images/quotes.png");
  margin-left: -255px;
  width: 1440px;
}

.plax:last-child {
  margin-bottom: 0;
}

.plax.ccparallax {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 500px;
}

.plax.content {
  background: none repeat scroll 0 0 #ff3fd2;
  // background-image: url("../images/index-divders.png");
  padding: 42px 0;
  width: 155%;
  // border: 1px solid;
  margin-left: -256px;
  height: 85px;

}
.plax.ccparallax h1 {
  font-weight: 700;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgba(255, 63, 210, 0.9);
  padding: 10px;
  padding-top: 20px;
  border-radius: 50px;
  margin-top: 120px;
}


a {
  color: white !important;
  text-decoration: none !important;
}


// .plax .headlines h2 {
//   color: white;
//   font-family: "PT Sans",sans-serif;
//   font-size: 32px;
//   margin: 0;
//   text-align: center;
// }
// .plax .headlines p {
//   font-size: 16px;
//   font-weight: 300;
//   margin: 0;
//   color:red;
//   text-align: center;
// }
// .plax .contentarea, .plax .contentarea h2{
//   color:black;
// }















// .indexSeasonImg {
//   margin-left: -146px;
//   margin-top: -54px;
//   width: 1428px;
//   height: 510px;
//   border: 2px solid #ff3fd2;
//   // width: 100%;
//   // display: block;
//   // margin-right: 10px;
//   // margin-left: 10px;
//   // border-radius: 60px;
// }
//
// .containerSeasonImg {
//   position: relative;
//   padding-left: 2px;
//   padding-right: 20px;
// }
//
// // .overlay {
// //   position: absolute;
// //   bottom: 0px;
// //   background-color: rgba(255, 63, 210, 0.9);
// //   overflow: hidden;
// //   width: 98%;
// //   height: 90px;
// //   transition: .5s ease;
// //   // border-radius: 60px;
// // }
//
// .containerSeasonImg:hover .overlay {
//   height: 100%;
// }
//
// .seasonsIndexTitle {
//   background-color: rgba(255, 63, 210, 0.9);
//   padding: 10px;
//   margin-top: -90px;
//   position: relative;
//   width: 1283px;
// }
// .overlayIndexText {
//   // white-space: nowrap;
//   // color: white;
//   // font-size: 20px;
//   // position: absolute;
//   // overflow: hidden;
//   // text-align: right;
//   // top: 40%;
//   // left: 23%;
//   // transform: translate(-50%, -50%);
//   // -ms-transform: translate(-50%, -50%);
// }
//
// // ********* Search The Queens ***********
//
// .queensIndexTitle {
//   background-color: rgba(255, 63, 210, 0.9);
//   padding: 10px;
//   margin-top: -91px;
//   position: relative;
//   margin-right: -140px;
// }
//
// .searchTheQueens {
//   margin-top: -69px;
//   background-color: #ff3fd2;
//   position: relative;
//   color: white;
//   border: 0px !important;
//   padding: 14px;
//   margin-bottom: 0px;
// }
// .indexQueenImg {
//   border: 2px solid #ff3fd2;
//   margin-top: 10px;
//   width: 1428px;
//   margin-left: -146px;
//   height: 510px;
//   border: 2px solid #ff3fd2;
//   // margin-top: 10px;
//   // max-width: 100%;
//   // border-radius: 60px;
// }
//
// .containerQueenImg .desktopGrades .desktopGrades1 {
//   position: relative;
//   width: 50%;
// }
//
// // .queenIndexOverlay {
// //   position: absolute;
// //   bottom: 0;
// //   left: 0;
// //   right: 0;
// //   background-color: rgba(255, 63, 210, 0.9);
// //   overflow: hidden;
// //   width: 100%;
// //   height: 90px;
// //   transition: .3s ease;
// // }
// //
// // .queenIndexOverlayText {
// //   white-space: nowrap;
// //   color: white;
// //   font-size: 20px;
// //   position: absolute;
// //   overflow: hidden;
// //   text-align: right;
// //   top: 40%;
// //   left: 30%;
// //   transform: translate(-50%, -50%);
// //   -ms-transform: translate(-50%, -50%);
// // }
//
// .containerQueenImg:hover .queenIndexOverlay {
//   height: 98%;
// }
//
// a {
//   color: white !important;
//   text-decoration: none !important;
// }
//
// // ********** Flex Grid ************
// .grades {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }
// .desktopGrades {
//   box-sizing: border-box;
//   padding: 10px;
//   float: left;
//   width: 50%;
//   height: 50%;
// }
// .desktopGrades h1 {
//   border: 1px solid #ccc;
// }
//
//
// //  ********** Title *****
//
// .dragQuotes {
//   margin-top: -69px;
//   background-color: #ff3fd2;
//   position: relative;
//   color: white;
//   border: 0px !important;
//   padding: 14px;
//   margin-bottom: 0px;
// }
//
// .dragVids {
//   margin-top: -69px;
//   background-color: #ff3fd2;
//   position: relative;
//   color: white;
//   border: 0px !important;
//   padding: 14px;
//   margin-bottom: 0px;
// }
//
// .dragGiphy {
//   margin-top: -69px;
//   background-color: #ff3fd2;
//   position: relative;
//   color: white;
//   border: 0px !important;
//   padding: 14px;
//   margin-bottom: 0px;
// }
