footer {
  background-color: #ff3fd2;
  color: white;
  height: 50px;
  position: flex;
  clear: both;
  bottom: 0px;
  width: 100%
}

.socialMediaBtn {
  width: 40px;
  height: 40px;
  float: left;
  padding: 5px;
  border-radius: 20px;
}

.copyRight {
  float: right;
  margin-right: 5px;
  padding: 10px;
}
