.login {
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.register {
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
  margin-bottom: 40px;

}

.form-control {
  border: 2px solid #ff3fd2;
  text-align: center;
  font-family: 'Aviddyn';
  font-size: 20px;
  padding:  20px;
  border-radius: 30px;
  margin-bottom: -10px;
}

.submitButton {
  width: 100%;
  height: 33px;
  background-color: #ff3fd2;
  color: white;
  font-family: Aviddyn;
  font-size: 20px;
  border: 0;
  border-radius: 30px;
  margin-top: 10px;
}

.formTitle {
  text-align: center;
}
