// .giphyContainer {
//   border: 2px solid #ff3fd2;
// }

.giphyImg {
  float: left;
  border: 10px inset #ff3fd2;
  width: 45%;
  height: 290px;
}

.giphyTitle {
  text-align: center;
  margin-bottom: 60px;
}
