// .giphyContainer {
//   border: 2px solid #ff3fd2;
// }

.giphyImg {
  border: 10px inset #ff3fd2;
  float: left;
  width: 50%;
  height: 290px;
}

.giphyTitle {
  text-align: center;
  margin-bottom: 60px;
}

// .giphyContainer {
//   margin-left: -170px;
// }
