.navImage {
  width: 100%;
}

.navRupaul {
    width: 45%;
    float: right;
    margin-top: -414px;
    position: relative;
}

.navline {
    background-color: #FF3FD2;
    width: 100%;
    height: 50px;
    margin-top: -115px;
}

.mainLogo {
    width: 55%;
    float: left;
    position: relative;
    margin-top: -399px;
}
