.queenIndexImg {
  border: 2px solid #ff3fd2;
  border-radius: 275px;
  width: 300px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

li {
  list-style: none;
}

.queensIndexList {
  margin-left: 90px;
  margin-right: 90px;
}
