.seasonImg {
  width: 100%;
  border: 2px solid #ff3fd2;
  // border-radius: 115px;
  margin-bottom: 50px;
  float: left;
}

.seasonTitle {
  // background-color: rgba(255, 63, 210, 0.9);
  color: black;
  text-align: center;
}

.seasonShowQueenTitle {
  margin-left: -40px;
}

.seasonShowQueens {
  margin-left: 90px;
}
